{% extends "viewerbase.twig" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'external/photoswipe/photoswipe.css' %}"> 
    <link rel="stylesheet" href="{% static 'external/photoswipe/default-skin/default-skin.css' %}"> 
{% endblock %}

{% block content %}
    <nav role="navigation">
        <div class="nav-wrapper container">

            <a id="logo-container" href="{% url 'actor' actor.name %}" class="left brand-logo">
                {{ actor.name }}
            </a>

            <form action="{% url 'rnd' actor.id %}" method="get" class="center">
                {% for cate in cate_list %}
                    [
                    <label>
                        <input type="checkbox" 
                            class="filled-in checkbox-orange" 
                            name="cl" value={{ cate }} 
                            {% if cate in cl %} checked="checked" {% endif %}
                        />
                        <span>{{ cate }}</span>
                    </label>
                    ]
                {% endfor %}
                ......
                {% for cate in cate_list %}
                    [
                    <label>
                        <input type="checkbox" 
                            class="filled-in checkbox-orange" 
                            name="cr" value={{ cate }} 
                            {% if cate in cr %} checked="checked" {% endif %}
                        />
                        <span>{{ cate }}</span>
                    </label>
                    ]
                {% endfor %}
                <input type="submit" class="btn right" value="RND">
            </form>

        </div>
    </nav>

    <article class="row">

        {% if image_right %}
            <div class="frameviewer">
                <iframe src={% url 'imageframe' image_left.id %} frameborder="0" scrolling="no" width="100%" onload="resizeIframe(this)" align="left"></iframe>
            </div>

            <div class="frameviewer">
                <iframe src={% url 'imageframe' image_right.id %} frameborder="0" scrolling="no" width="100%" onload="resizeIframe(this)" align="right"> </iframe>
            </div>
        {% else %}
            <div class="frameviewer-one">
                <iframe src={% url 'imageframe' image_left.id %} frameborder="0" scrolling="no" width="100%" onload="resizeIframe(this)" ></iframe>
            </div>
        {% endif %}

    </article>

{% endblock %}

{% block js %}
    <script>
        function resizeIframe(obj) {
            //obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
            obj.style.height = '900px';
        }
    </script>
{% endblock %}